.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  width: 100%;
  min-width: 0;
  padding: 0px 32px 139px;
  margin: auto;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-1t-28iO4cpEJ);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__y7Aye {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__djHs {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__djHs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__djHs > :global(.__wab_flex-container) > *,
.freeBox__djHs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__djHs > :global(.__wab_flex-container) > picture > img,
.freeBox__djHs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__cnCby {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cnCby > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cnCby > :global(.__wab_flex-container) > *,
.freeBox__cnCby > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cnCby > :global(.__wab_flex-container) > picture > img,
.freeBox__cnCby
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gxo8Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__k7Pgq {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-o7_hW2a7olYL);
  background: #ffffff;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k7Pgq {
    display: none;
  }
}
.text__oLzY {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token--uWN7QfbY1WH);
}
.text__lyTbI {
  font-size: 20px;
  color: var(--token-o7_hW2a7olYL);
  line-height: 28px;
}
.freeBox__sff7E {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__sff7E > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sff7E > :global(.__wab_flex-container) > *,
.freeBox__sff7E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sff7E > :global(.__wab_flex-container) > picture > img,
.freeBox__sff7E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__mkGd:global(.__wab_instance) {
  position: relative;
}
.svg__cpe88 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__de1Hq {
  height: auto;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__q7Rmv:global(.__wab_instance) {
  position: relative;
}
.svg__mIwAl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__upx8O {
  height: auto;
  font-weight: 400;
}
.svg__qhJg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__muuRc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__b7OkB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ytneE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.signUpPrompt:global(.__wab_instance) {
  width: auto;
}
